.banner {
    width: 720px;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (max-width: 640px) {
    .banner {
        width: 100%
    }
}

#actionFadeIn .fade.in {
    animation-name: fadeIn;
}

#actionFadeOut .fade.out {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(startYposition);
    } 
    100% {
        opacity: 1;
        transform: translateY(endYposition);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(startYposition);
    } 
    100% {
        opacity: 0;
        transform: translateY(endYposition);
    }
}