.help{
    width: 550px;
}
.items{
    border: 0.1px solid grey;
    width: 100%;
    height: 100%;
    padding: 20px;
    -webkit-box-shadow: inset 0px 0px 15px -2px white;
    -moz-box-shadow: inset 0px 0px 15px -2px white;
    box-shadow: inset 0px 0px 15px -2px white;

}
@media screen and (max-width: 640px) {
    .help {
        width: 100%
    }
}